.footer {
    background-color: #E7ECEF;
    padding: 1rem;

}

.footer h3 {
    font-weight: 700;
    color: #274C77;
}

.footer-item{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.footer-item a,
.footer-item p,
.footer-item i{
    text-decoration: none;
    color: #274C77;
    margin: 0;
    font-size: 1.25rem;
}

// .footer-item i {
//     font-size: 1.5rem;
// }