.footer {
    background-color: #E7ECEF;

}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-items: center;
    align-items: center;
    height: 5vw;
}

.footer-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.footer-item a,
.footer-item p,
.footer-item i{
    text-decoration: none;
    color: #274C77;
    font-size: 1.2vw;
}