body{
    margin: 0;
}
.top-nav-bar{
    display: flex;
    justify-content: flex-end;
    background-color: #E7ECEF;
    overflow: hidden;
}

.top-nav-bar a{
    color: black;
    text-align: center;
    text-decoration: none;
    float: left;
    padding: 0.75rem;
}

.top-nav-bar a:hover{
    background-color: #274C77;
    color: white;
}

.project-data-container{
    display: flex;
    flex-direction: row;
}

.project-container{
    justify-content: space-between; 
    margin: 2%;
    width: 50%;
    background-color: #6096BA;
    border-radius: 1vw;
    height: fit-content;
    display: flex;

}
/* 
.frame-container{
    background-color: #6096BA;
    border-radius: 1vw;
    height: fit-content;
    display: flex;
} */

.left-edge{
    background-color: #274C77;
    width: 10%;
    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;
}

.project-right-side{
    background-color: #ffffff;
    border-bottom-right-radius: 1vw;
    border-top-right-radius: 1vw;
    margin: 0.9vw;
    margin-left: 0;
    width: 100%;
    padding: 1vw;  
}

.project-data-div {
    overflow: hidden;
}

.image-container{
    width: 100%;
    display: flex;
    justify-content: center;


}
.image-container img{
    width: 10vw;
    height: auto;
    border-radius: 10px;
    margin: 1vw;
}
