.competenceCard{
    position: relative;
    background-color: #A3CEF120;
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    width: 100%;
}

.competenceCard-left{
    background-color: #274C77;
    width: 1.5rem;
    flex-shrink: 0;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.competenceCard-right{
    background-color: #ffffff;
    height: 10rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    margin-left: 0;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
}

.competenceCard-right h3 {
    color: #274C77;
    font-weight: 700;
}

.competencies-description {
    opacity: 0;
}

.competenceCard-right:hover .competencies-description {
    opacity: 1;
    animation: fadeInUp;
    animation-duration: 0.30s;
}

.competenceCard-right:hover h3 {
    transform: translateY(-0.5rem);
    transition: transform 0.3s;
}