.top-page-wrapper{
    display: flex;
    align-items: center;
    text-align: left;
    gap: 2vw;
}

.top-page-wrapper img{
    object-fit: cover;
    width: 15vw;
    height: auto;
    margin-left: 7vw;
    margin-top: 5vw;
}