.about-top-wrapper {
    padding: 10rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.50);
}

.about-top-wrapper .row{
    align-items: center;
    justify-content: center;
}
.about-top-right {
    text-align: right;
}

.about-top-right img {
    width: 20rem;
    height: auto;
}