.about-top-wrapper {
    padding: 4rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.50);
    background-color: #440D0F05;

}

.about-top-wrapper .row{
    align-items: center;
    justify-content: center;
}
.about-top-right {
    text-align: center;
}

.about-top-right img {
    width: 20rem;
    height: auto;
    border-radius: 10rem;
}

.competencies-wrapper {
    padding: 4rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.50);
    text-align: center;
}

.competencies-wrapper .row {
    align-items: center;
    justify-content: center;
}