.projects-top-wrapper {
    padding: 4rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.50);
}

.projects-top-right {
    text-align: center;
}

.projects-top-right img {
    width: 30rem;
    height: auto;
    border-radius: 1rem;
}

.project-wrapper {
    padding: 4rem;
}
.project-wrapper h2{
    // padding: 5rem;
    // padding-bottom: 0;
    text-align: center;
}

.project-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

// .row .project-data-container{
//     // padding-left: 10rem;
//     // padding-right: 10rem;
// }
