.projects-top-wrapper {
    padding: 4rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.50);
    background-color: #440D0F05;

}

.projects-top-right {
    text-align: center;
}

.projects-top-right img {
    width: 30rem;
    height: auto;
    border-radius: 1rem;
}

.project-wrapper {
    padding: 4rem;
}
.project-wrapper h2{
    text-align: center;
}

.project-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .projects-top-wrapper, .project-wrapper {
        padding: 0.5rem !important;
    }
    
}
