.experience-top-wrapper {
    padding: 4rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.50);
    background-color: #440D0F05;
}

.experience-top-right {
    text-align: center;
}

.experience-top-right img {
    width: 30rem;
    height: auto;
    border-radius: 1rem;
}

.work-experience-wrapper, .education-wrapper {
    padding: 4rem;
    animation: fadeInUp;
    animation-duration: 2s;
}



.work-data-container, .education-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

